{% extends 'base.html.twig' %}

{% block title %}Hello ExportController!{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ path('filter') }}" class="row" method="POST">

            {% if institutions is not defined %}
                {% set institutions = [] %}

                {% for export in exports %}
                    {% if export.institutionId not in institutions %}
                        {% set institutions = institutions|merge([export.institutionId]) %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if app.request.get('filter') %}
                {% set q_institution_id = app.request.get('filter')['institution_id'] %}
                {% set q_from = app.request.get('filter')['timestamp']['from'] %}
                {% set q_to = app.request.get('filter')['timestamp']['to'] %}
            {% endif %}
            <nav id="filters">
                <div>
                    <label>Institution</label>
                    <select name="filter[institution_id]">
                        <option value="0">Wszystkie</option>
                        {% for institution in institutions %}
                            <option {% if q_institution_id is defined and q_institution_id == institution.id  %}selected{% endif %} value="{{ institution.id }}">{{ institution.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="">From</label>
                    <input type="date" {% if q_from is defined %}value="{{ q_from }}"{% endif%} name="filter[timestamp][from]">
                </div>
                <div>
                    <label for="">To</label>
                    <input type="date" {% if q_to is defined %}value="{{ q_to }}"{% endif%} name="filter[timestamp][to]">
                </div>
            </nav>


            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Data</th>
                    <th scope="col">Godzina</th>
                    <th scope="col">Użytkownik</th>
                    <th scope="col">Lokal</th>
                </tr>
                </thead>
                <tbody>
                {% if exports|length %}
                    {% for export in exports %}
                        <tr>
                            <th scope="row">{{ export.name }}</th>
                            <td>{{ export.timestamp|date('Y-m-d') }}</td>
                            <td>{{ export.timestamp|date('H:i') }}</td>
                            <td>{{ export.userId.fullname }}</td>
                            <td>{{ export.institutionId.name }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Brak wyników</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
            <button class="btn btn-primary" type="submit">Zatwierdź</button>
        </form>
    </div>
{% endblock %}
